*{
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    /* color: #0000; */
    font-size: 14px;
    margin-top: 20px;
}

nav ul li a:hover{
    color: #74e60b;
    font-size: 30px;
    background-color: black;
    transition-delay: 0.5s;
}
